# IDE files.
/**/.idea/
/**/.vscode/
/**/.vs/
/**/.cursor/
# AI files.
/**/.claude/
/**/.codex/
/**/.ai/

# Dependencies & distribution files.
/**/node_modules/
/**/dist/
/**/out/
/**/build/
/**/*.tsbuildinfo

# Environment variables files.
/**/*.env*
!/**/.env.example

# Operating system files.
/**/*.DS_Store*
/**/*.ini*
