# Options of the application.
# Environment that the application is running in.
# Allowed values: "development", "production", "test".
NODE_ENV=development
# The port that the application will listen on.
APP_PORT=3000
